:root {
    --bg: #f8f7f4;
    --surface: #ffffff;
    --brand: #3662e3;
    --secondary: #213ca0;
    --text: #0f1214;
    --text-muted: #5a5a5a;
    --text-transparent: #1e1e1eee;
    --brand-highlight: #3662e322;
    --brand-hl2: #3662e3ee;
    --brand-hl3: #3662e377;
    --brand-hl4: #3662e344;
    --disabled: #00000011;
    --disabled-dark: #00000033;
    --divider: #e0e0e0;
    --button-border: #ccc;
    --faint-border: #dedede;
    --hero-gradient: linear-gradient(200deg, #3662e377, #f8f7f4 30%);
    --dropShadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

html.dark {
    --bg: /*#0f1214 #15181b*/ #1e2124;
    --surface: #282b2f;
    --brand: #3662e3;
    --secondary: #accefb;
    --text: #eaeaea;
    --text-muted: #b0b0b0;
    --text-muted-dark: #888;
    --text-transparent: #eaeaeaee;
    --disabled: #ffffff11;
    --disabled-dark: #ffffff33;
    --divider: #222222;
    --button-border: #444444;
    --faint-border: #323232;
    --hero-gradient: linear-gradient(200deg, #3662e377, #1e2124 30%);
}

html {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
}

body {
}

h1 {
    color: var(--text);
}

p {
    color: var(--text-muted);
}

.wrapper {
    background: var(--hero-gradient);
}

#profpic {
    position: relative;
}

#profpic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--brand);
    opacity: 0.3;
    pointer-events: none;
    border-radius: 50%;
}

.content {
    background: var(--surface);

    box-shadow: var(--dropShadow);
}

p.intro {
    font-weight: 300;
}

footer hr {
    border: 1px solid var(--faint-border);
}

.linkCopy,
.themeToggled {
    opacity: 0;
    transform: translateY(-1rem);
    pointer-events: none;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;

    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(-1rem);
    z-index: 9999;
    background-color: var(--brand);
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.linkCopy.show,
.themeToggled.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.linkCopy p,
.themeToggled p {
    color: #eee;
    margin: 0;
}

.mobileOverlay {
    display: none;
}
