@media (max-width: 744px) {
    .wrapper {
        align-items: center;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 0;
        padding-left: 1.5rem;
        gap: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        width: 80%;
    }

    h1 {
        font-size: 2rem;
    }

    .toggler {
        display: none;
    }

    header {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .navbar h1 {
        margin-left: -0.7rem;
    }

    #mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.85rem;
    }

    .hamburger {
        margin-left: auto;
        margin-right: -0.7rem;
    }

    .logoText {
        padding: 0;
    }

    #profpic {
        display: flex;
        justify-content: center;
    }

    #profpic img,
    #profpic::before,
    #profpic::after {
        width: 18rem;
        height: 18rem;
    }

    p {
        font-size: 0.9rem;
    }

    p.intro {
        width: 80%;
        line-height: 1.5;
        text-align: center;
        text-wrap: balance;
    }

    #bc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .button,
    .secondaryButton {
        font-size: 0.85rem;
        width: 80%;
    }

    footer {
        width: 100%;
        /* margin-bottom: -2rem; */
    }

    footer hr {
        width: 100%;
    }

    footer p {
        font-size: 0.85rem;
        text-align: center;
        color: var(--text-muted);
    }
}

@media (min-width: 745px) and (max-width: 1133px) {
    .wrapper {
        align-items: center;
        padding: 1.5rem 1.5rem 0 1.5rem;
        gap: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 3rem;
        border-radius: 1rem;
        width: 50%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .toggler {
        display: none;
    }

    header {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .hamburger {
        margin-left: auto;
    }

    #hamburger-toggle i {
        font-size: 1.85rem;
    }

    .logoText {
        padding: 0;
    }

    #profpic {
        display: flex;
        justify-content: center;
    }

    #profpic img,
    #profpic::before,
    #profpic::after {
        width: 18rem;
        height: 18rem;
    }

    p {
        font-size: 1rem;
    }

    #mainContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p.intro {
        width: 80%;
        line-height: 1.5;
        text-align: center;
        text-wrap: balance;
    }

    #links {
        width: 100%;
    }

    #bc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .button,
    .secondaryButton {
        font-size: 0.85rem;
        width: 80%;
    }

    footer {
        width: 100%;
        /* margin-bottom: -2rem; */
    }

    footer hr {
        width: 100%;
    }

    footer p {
        font-size: 0.85rem;
        text-align: center;
        color: var(--text-muted);
    }
}

@media (min-width: 1134px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper {
        align-items: center;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        gap: 0.5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
        border-radius: 1rem;
        width: clamp(300px, 50vw, 600px);
    }

    h1 {
        font-size: 3rem;
    }

    header {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .hamburger {
        display: none;
    }

    #hamburger-toggle i {
        font-size: 1.85rem;
    }

    .logoText {
        padding: 0;
    }

    #profpic {
        display: flex;
        justify-content: center;
    }

    #profpic img,
    #profpic::before,
    #profpic::after {
        width: 18rem;
        height: 18rem;
    }

    p {
        font-size: 1rem;
    }

    #mainContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    p.intro {
        width: 80%;
        line-height: 1.5;
        text-align: center;
        text-wrap: balance;
    }

    #links {
        width: 100%;
    }

    #bc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .button,
    .secondaryButton {
        font-size: 0.85rem;
        width: 65%;
    }

    footer {
        width: 95%;
        gap: 1rem;
    }

    footer hr {
        width: 100%;
    }

    footer p {
        font-size: 0.85rem;
        text-align: center;
        color: var(--text-muted);
    }
}
