@media (min-width: 300px) {
    .wrapper {
        align-items: center;
        padding: 1.5rem;
        gap: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .toggler {
        display: none;
    }

    header {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .hamburger {
        margin-left: auto;
    }

    .logoText {
        padding: 0;
    }

    #profpic {
        display: flex;
        justify-content: center;
    }

    #profpic img {
        width: 18rem;
    }

    #profpic::before {
        width: 18rem;
        height: 18rem;
    }

    p {
        font-size: 0.9rem;
        text-align: center;
        text-wrap: balance;
        line-height: 1.5;
    }

    #bc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .button,
    .secondaryButton {
        font-size: 0.85rem;
        width: 100%;
    }

    footer {
        width: 100%;
        margin-bottom: -2rem;
    }

    footer hr {
        width: 100%;
        border: 1px solid var(--divider);
    }

    footer p {
        font-size: 0.85rem;
        text-align: center;
        color: var(--text-muted);
    }
}
