/*
==============================
ROOT & DARK MODE VARIABLES
==============================
*/

:root {
    font-size: 100%;

    --text-color: #333;
    --bg-color: #eee;
    --bg-color-overlay: #eeeeeee0;
    --overlay-color: rgba(255, 0, 0, 0.5);
    --ovsolid: rgba(255, 0, 0);
    --ovdark: rgba(255, 10, 10);
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23e6e6e6' stroke-width='5.1' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    --pagePadding: 0 10rem;
    --headHeight: 6rem;
    --dropShadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    --baseFont: 1rem;
    --smallFont: 0.875rem;
}

html.dark {
    --text-color: #eee;
    --bg-color: #333;
    --bg-color-overlay: #333333f2;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23363636' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

/*
==============================
GLOBAL STYLES
==============================

*/

html {
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--bg-color);
    background-image: var(--svg);
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-size: var(--baseFont);
    color: var(--text-color);
}

/*
==============================
LAYOUT & UTILITIES
==============================
*/

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 1rem;
    flex: 1;
}

.wrapper .active {
    background: linear-gradient(45deg, var(--ovsolid) 50%, var(--ovdark));
    color: orange;
    border: 1px solid transparent;
    box-shadow: var(--dropShadow);
}

.fullWidthPad {
    width: 100%;
    padding: var(--pagePadding);
    box-sizing: border-box;
}

.topBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonStyler {
    font-size: var(--baseFont);
    cursor: pointer;
    border: 1px solid var(--text-color);
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 8px;
    color: var(--text-color);
}

.buttonStyler i {
    font-size: 1.5rem;
}

.buttonStyler:hover {
    background: linear-gradient(45deg, var(--ovsolid) 50%, var(--ovdark));
    color: white;
    border: 1px solid transparent;
    box-shadow: var(--dropShadow);
}

.mobileOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-overlay);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity 0.4s ease,
        visibility 0s linear 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    backdrop-filter: blur(6px); /* the magic! */
    -webkit-backdrop-filter: blur(6px); /* Safari/iOS prefix */
}

.mobileOverlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition:
        opacity 0.4s ease,
        visibility 0s linear 0s;
}

/*
==============================
COMPONENTS
==============================
*/

/* HEADER */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--headHeight);
}

.toggle-bar {
    display: flex;
    align-items: center;
}

.toggler {
    color: var(--text-color);
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;

    width: 3rem; /* make width and height equal */
    height: 3rem;
    border-radius: 50%; /* perfect circle */
    transition: background-color 0.3s ease;
}

.toggler:hover {
    background-color: var(--ovsolid); /* or whatever looks good in your theme */
    color: #eee;
    box-shadow: var(--dropShadow);
}

.hamburger {
    display: none;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-color);
    transition: background-color 0.6s ease;
    z-index: 999;
}

.mobileToggler {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.3rem;

    /*border-bottom: 1px solid var(--text-color);*/
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    padding: 1.5rem;
    width: 80%;
    border-radius: 8px;
    opacity: 1;
}

.mobileToggler:hover {
    background: linear-gradient(45deg, var(--ovsolid) 50%, var(--ovdark));
    color: white;
    box-shadow: var(--dropShadow);
}

/* MAIN CONTENT */

main {
    margin-top: var(--headHeight);
}

.intro {
    line-height: 1.5;
    text-align: center;
    width: min(35rem, 90%);
    margin: 0 auto 2rem auto;
}

/* profpic */

#profpic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15.625rem;
    height: 100%;
    background-color: var(--overlay-color);
    pointer-events: none;
    border-radius: 50%;
}

#profpic {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

#profpic > img {
    border-radius: 50%;
    width: 15.625rem;
    height: 15.625rem;
    box-shadow: var(--dropShadow);
}

/* buttons */

#bc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    width: 35rem;
    height: 4rem;
    background-color: var(--bg-color);
    transition: background-color 0.6s ease;
}

/* HEADINGS & TEXT */

h1 {
    font-size: 3.8rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
}

/* FOOTER */

footer {
    padding-top: 1rem;
}

.divider {
    margin-bottom: -0.5rem;
}

.divider hr {
    border: 0.5px solid #888;
}

.footertext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
}

.footertext p {
    font-size: var(--smallFont);
    font-weight: 300;
}

.footertext a {
    text-decoration: underline;
    color: inherit;
}

/*
==============================
MEDIA QUERIES
==============================
*/

@media (max-width: 360px) {
    /*.topBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }*/

    .toggleActive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .topBottom {
        padding: 0.5rem 1.5rem;
    }

    header {
        position: static;
        width: 100%;
    }

    main {
        margin-top: 2.3rem;
    }

    .toggle-bar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    h1 {
        font-size: 2.8rem;
        /*width: 20%;*/
    }
    body {
        overflow: auto;
    }

    p {
        font-size: var(--smallFont);
    }

    .intro {
        max-width: 70%;
        font-size: var(--smallFont);
        margin-bottom: 1rem;
    }

    #profpic > img {
        width: 11.25rem;
        height: 11.25rem;
        margin-bottom: -0.7rem;
    }

    #profpic::before {
        width: 11.25rem;
        height: 11.25rem;
    }

    .button {
        font-size: var(--smallFont);
        width: 70%;
        height: 3.75rem;
    }

    .divider hr {
        border: 0.5px solid #888;
        width: 70%;
    }

    .wrapper {
        justify-content: flex-start;
        padding-top: 0rem;
        padding-bottom: 2rem;
        min-height: auto;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        width: 70%;
        margin: 0 auto;
        font-size: var(--smallFont);
    }
}

@media (min-width: 361px) and (max-width: 480px) {
    header {
        font-size: 2.5rem;
    }

    p {
        font-size: var(--smallFont);
    }

    body {
        overflow: auto;
    }

    .intro {
        max-width: 70%;
        font-size: var(--smallFont);
    }

    #profpic > img {
        width: 11.25rem;
        height: 11.25rem;
    }

    #profpic::before {
        width: 11.25rem;
        height: 11.25rem;
    }

    .button {
        font-size: var(--smallFont);
        width: 70%;
        height: 3.75rem;
    }

    .wrapper {
        justify-content: flex-start;
        padding: 1rem 0 1rem 0;
        min-height: auto;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        font-size: var(--smallFont);
        width: 70%;
        margin: 0 auto;
    }

    hr {
        width: 70%;
    }
}

@media (min-width: 481px) and (max-width: 499px) {
    header {
        font-size: 3rem;
    }

    p {
        font-size: var(--smallFont);
    }

    body {
        overflow: auto;
    }

    .intro {
        max-width: 80%;
        font-size: var(--smallFont);
    }

    #profpic > img {
        width: 15rem;
        height: 15rem;
    }

    #profpic::before {
        width: 15rem;
        height: 15rem;
    }

    .button {
        font-size: var(--smallFont);
        width: 80%;
        height: 3.75rem;
    }

    .wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        font-size: var(--smallFont);
    }

    hr {
        width: 80%;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    header {
        font-size: 3rem;
    }

    p {
        font-size: var(--smallFont);
    }

    body {
        overflow: auto;
    }

    .intro {
        max-width: 80%;
        font-size: var(--smallFont);
    }

    #profpic > img {
        width: 15rem;
        height: 15rem;
    }

    #profpic::before {
        width: 15rem;
        height: 15rem;
    }

    .button {
        font-size: var(--smallFont);
        width: 80%;
        height: 3.75rem;
    }

    .wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        font-size: var(--smallFont);
    }
}

/* Medium Devices (Tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets and smaller laptops */
    header {
        font-size: 3.5rem;
    }

    body {
        overflow: auto;
    }

    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }
}

/* Large Devices (Laptops, Desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for standard desktops & larger laptops */
    body {
        overflow: auto;
    }

    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }
}

/* Extra Large Devices (Big Screens, 4K Monitors) */
@media (min-width: 1441px) {
    /* Styles for ultra-wide screens */
}
