:root {
    --base-font-size: 16px;
    font-size: 100%;

    --text-color: #333;
    --bg-color: #eee;
    --c1: #333;
    --c2: #443ef9;
    --c3: #f93e41;
    --c2w: #443ef977;
    --c3w: #f93e4177;
    --c4: #eee;
    --overlay-color: rgba(255, 0, 0, 0.5);
    --ovsolid: rgba(255, 0, 0);
    --ovdark: rgba(255, 10, 10);
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23e6e6e6' stroke-width='5.1' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    --pagePadding: 0 10rem;
}

html.dark {
    --text-color: #eee;
    --bg-color: #333;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23363636' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

html {
    font-family: "IBM Plex Mono", monospace;
    /*background: linear-gradient(-45deg, var(--c2w), var(--c3w));*/
    background-color: var(--bg-color);
    background-image: var(--svg);
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    /*display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;*/
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-size: 1rem;
    color: var(--text-color);
}

.intro {
    line-height: 1.5;
    text-align: center;
    width: 37.5rem;
    max-width: 90%;
    width: min(35rem, 90%);
    margin: 0 auto 2rem auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--pagePadding);
    width: 100%;
    box-sizing: border-box;
}

.toggler {
    color: var(--text-color);
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;

    width: 3rem; /* make width and height equal */
    height: 3rem;
    border-radius: 50%; /* perfect circle */
    /* display: flex;  center the icon inside
    align-items: center;
    justify-content: center; */
    transition: background-color 0.3s ease;
}

.toggler:hover {
    background-color: var(--ovsolid); /* or whatever looks good in your theme */
    color: #eee;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 1rem;
    flex: 1;
    /*height: 100vh;
    overflow: hidden;*/
}

/*header {
    text-align: center;
}*/

h1 {
    font-size: 3.8rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
}

#profpic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15.625rem;
    height: 100%;
    background-color: var(--overlay-color);
    pointer-events: none;
    border-radius: 50%;
}

#profpic {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

#profpic > img {
    border-radius: 50%;
    width: 15.625rem;
    height: 15.625rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#bc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--text-color);
    padding: 0.5rem;
    width: 35rem;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    height: 4rem;
    background-color: var(--bg-color);
    transition: background-color 0.6s ease;
}

.button i {
    font-size: 1.5rem;
}

.button:hover {
    background: linear-gradient(45deg, var(--ovsolid) 50%, var(--ovdark));
    color: white;
    border: 1px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* TODO make footer go to the very bottom of the page */
.footertext {
    /*font-style: italic;
    display: flex;
    align-items: center;
    width: 45rem;
    justify-items: space-evenly;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    padding: var(--pagePadding);
    width: 100%;
    box-sizing: border-box;
}

.footertext p {
    font-size: 0.875rem;
    font-weight: 300;
}

.footertext a {
    text-decoration: underline;
    color: inherit;
}

.divider {
    margin-bottom: -0.5rem;
    width: 100%;
    padding: var(--pagePadding); /* match header's horizontal padding */
    box-sizing: border-box; /* include padding inside the width */
}

.divider hr {
    border: 0.5px solid #888;
}

footer {
    padding-top: 1rem;
}

/* MEDIA QUERIES BEGIN HERE */

@media (max-width: 360px) {
    header {
        font-size: 2.5rem;
    }

    body {
        overflow: auto;
    }

    p {
        font-size: 0.875rem;
    }

    .intro {
        max-width: 70%;
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }

    #profpic > img {
        width: 11.25rem;
        height: 11.25rem;
        margin-bottom: -0.7rem;
    }

    #profpic::before {
        width: 11.25rem;
        height: 11.25rem;
    }

    .button {
        font-size: 0.875rem;
        width: 70%;
        height: 3.75rem;
    }

    .wrapper {
        justify-content: flex-start;
        padding-top: 10rem;
        padding-bottom: 2rem;
        min-height: auto;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        width: 70%;
        margin: 0 auto;
        font-size: 0.875rem;
    }

    hr {
        width: 70%;
    }
}

@media (min-width: 361px) and (max-width: 480px) {
    header {
        font-size: 2.5rem;
    }

    p {
        font-size: 0.875rem;
    }

    body {
        overflow: auto;
    }

    .intro {
        max-width: 70%;
        font-size: 0.875rem;
    }

    #profpic > img {
        width: 11.25rem;
        height: 11.25rem;
    }

    #profpic::before {
        width: 11.25rem;
        height: 11.25rem;
    }

    .button {
        font-size: 0.875rem;
        width: 70%;
        height: 3.75rem;
    }

    .wrapper {
        justify-content: flex-start;
        padding: 1rem 0 1rem 0;
        min-height: auto;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        font-size: 0.875rem;
        width: 70%;
        margin: 0 auto;
    }

    hr {
        width: 70%;
    }
}

@media (min-width: 481px) and (max-width: 499px) {
    header {
        font-size: 3rem;
    }

    p {
        font-size: 0.875rem;
    }

    body {
        overflow: auto;
    }

    .intro {
        max-width: 80%;
        font-size: 0.875rem;
    }

    #profpic > img {
        width: 15rem;
        height: 15rem;
    }

    #profpic::before {
        width: 15rem;
        height: 15rem;
    }

    .button {
        font-size: 0.875rem;
        width: 80%;
        height: 3.75rem;
    }

    .wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        font-size: 0.875rem;
    }

    hr {
        width: 80%;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    header {
        font-size: 3rem;
    }

    p {
        font-size: 0.875rem;
    }

    body {
        overflow: auto;
    }

    .intro {
        max-width: 80%;
        font-size: 0.875rem;
    }

    #profpic > img {
        width: 15rem;
        height: 15rem;
    }

    #profpic::before {
        width: 15rem;
        height: 15rem;
    }

    .button {
        font-size: 0.875rem;
        width: 80%;
        height: 3.75rem;
    }

    .wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }

    .footertext {
        font-size: 0.875rem;
    }
}

/* Medium Devices (Tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets and smaller laptops */
    header {
        font-size: 3.5rem;
    }

    body {
        overflow: auto;
    }

    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }
}

/* Large Devices (Laptops, Desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for standard desktops & larger laptops */
    body {
        overflow: auto;
    }

    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
        height: auto;
    }
}

/* Extra Large Devices (Big Screens, 4K Monitors) */
@media (min-width: 1441px) {
    /* Styles for ultra-wide screens */
}
